codegen/*/bin
codegen/*/target
codegen/*/xtend-gen
*._trace
codegen/org.eclipse.papyrusrt.rts/umlrts.rts.git
codegen/org.eclipse.papyrusrt.xtumlrt.*/src
rts/obj
rts/lib
*/.settings/*
*/*/*/.settings/*
rts/test/*/main
*.o
bin/
target/
