<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated platformcppmodel -->
      <package
            uri="http://www.eclipse.org/papyrusrt/xtumlrt/platformcppmodel"
            class="org.eclipse.papyrusrt.xtumlrt.platformcppmodel.PlatformcppmodelPackage"
            genModel="model/platformcppmodel.genmodel"/>
   </extension>

</plugin>
