<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.papyrus.infra.core.language">
      <provider>
         <class class="org.eclipse.papyrus.uml.tools.profile.index.ProfileLanguageProvider">
            <parameter
                  name="profile.1"
                  value="pathmap://UML_RT_PROFILE/uml-rt.profile.uml#_1h74oEeVEeO0lv5O1DTHOQ">
            </parameter>
            <parameter
                  name="language.1"
                  value="org.eclipse.papyrusrt.umlrt.core.internal.language.UMLRTLanguage">
            </parameter>
         </class>
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrusrt.umlrt.core.internal.expressions.BehaviorPropertyTester"
            id="org.eclipse.papyrusrt.umlrt.core.behaviorProperties"
            namespace="org.eclipse.papyrusrt.umlrt.core"
            properties="context"
            type="org.eclipse.uml2.uml.Behavior">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.elementTypeSetConfiguration">
      <elementTypeSet
            id="org.eclipse.papyrusrt.umlrt.core.elementTypeSet"
            path="elementtypes/uml-rt.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
</plugin>
