<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="UML-RT-Protocol-PE"
            class="org.eclipse.papyrus.uml.diagram.common.service.ExtendedPluginPaletteProvider"
            icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
            name="UML-RT-ProtocolDiagramPaletteExtension"
            path="palettes/UML-RT.ProtocolDiagram.paletteconfiguration">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.clazz">
         </editor>
      </paletteDefinition>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <configuration
            file="configuration/UMLRT.configuration"
            priority="100">
      </configuration>
   </extension>

   
   <extension
         point="org.eclipse.papyrus.uml.diagram.common.paletteDefinition">
      <paletteDefinition
            ID="UML-RT-Capsule-PE"
            class="org.eclipse.papyrus.uml.diagram.common.service.ExtendedPluginPaletteProvider"
            icon="platform:/plugin/org.eclipse.gmf.runtime.diagram.ui/icons/group.gif"
            name="UML-RT-CapsuleDiagramPaletteExtension"
            path="palettes/UML-RT.CapsuleDiagram.paletteconfiguration">
         <Priority
               name="Low">
         </Priority>
         <editor
               id="org.eclipse.papyrus.uml.diagram.composite">
         </editor>
      </paletteDefinition>
   </extension>

 

   <extension
         point="org.eclipse.papyrus.infra.sync.triggers">
      <syncTrigger
            class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.sync.statemachine.CapsuleStatemachineDiagramSyncTrigger">
         <enablement>
            <and>
               <!-- Match an edit-part for a Statemachine of a Capsule -->
               <instanceof
                     value="org.eclipse.gef.EditPart">
               </instanceof>
               <adapt
                     type="org.eclipse.uml2.uml.StateMachine">
                  <test
                        property="org.eclipse.papyrusrt.umlrt.context"
                        value="UMLRealTime::Capsule">
                  </test>
               </adapt>
            </and>
         </enablement>
      </syncTrigger>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.pasteStrategy">
      <strategy
            strategy="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.copy.UmlRTPasteStrategy">
      </strategy>
   </extension>
   
    <extension
         point="org.eclipse.papyrus.infra.elementtypesconfigurations.elementTypeSetConfiguration">
      <elementTypeSet
            id="org.eclipse.papyrusrt.tooling.diagram.common"
            path="elementtypes/uml-rt.umlclassdiagram.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
</plugin>
