<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2015, 2016 CEA LIST, Christian W. Damus, and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   CEA LIST - Initial API and implementation
   Christian W. Damus - bugs 483637, 486367, 496464
-->
<plugin>
	<!-- deprecated extension point, still here to ensure migration to new AF --> 
   
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="architecture/umlrt-architecture-advanced.architecture">
      </model>
   </extension>
</plugin>
