*.o
*._trace
*.xtendbin
*.xtextbin
bin/
target/
*/.settings/*
*/*/*/.settings/*
plugins/umlrt/codegen/*/bin
plugins/umlrt/codegen/*/target
plugins/umlrt/codegen/*/xtend-gen
plugins/umlrt/modellib/org.eclipse.papyrusrt.rts/umlrts/
plugins/umlrt/runtime/rts/obj
plugins/umlrt/runtime/rts/lib
plugins/umlrt/runtime/tests/*/main
plugins/umlrt/runtime/tests/*/TopMain
plugins/xtumlrt/metamodel/*/src/
!plugins/xtumlrt/metamodel/org.eclipse.papyrusrt.xtumlrt.mmgenerators/src/
plugins/xtumlrt/**/bin/
plugins/xtumlrt/**/target/
plugins/xtumlrt/**/generated/
plugins/xtumlrt/**/generated-sources/
plugins/xtumlrt/**/src-gen/
plugins/xtumlrt/**/xtend-gen/
.antlr-generator-3.2.0-patch.jar

