<?xml version="1.0" encoding="UTF-8" standalone="no"?><?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.nattable.configuration">
      <configuration
            file="configs/protocolmsg.nattableconfiguration"
            type="ProtocolMessageTable">
      </configuration>
      <configuration
            file="configs/trigger.nattableconfiguration"
            type="TriggerTable">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.axismanager">
      <axisManager
            id="org.eclipse.papyrusrt.umlrt.tooling.tables.owned.parameter.axis.manager"
            manager="org.eclipse.papyrusrt.umlrt.tooling.tables.manager.axis.OwnedParameterAxisManager">
      </axisManager>
      <axisManager
            id="org.eclipse.papyrusrt.umlrt.tooling.tables.trigger.axis.manager"
            manager="org.eclipse.papyrusrt.umlrt.tooling.tables.manager.axis.TriggerAxisManager">
      </axisManager>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.celleditor.configuration">
      <cellAxisConfiguration
            class="org.eclipse.papyrusrt.umlrt.tooling.tables.configurations.ParameterTypeCellEditorConfiguration"
            order="300">
      </cellAxisConfiguration>
      <cellAxisConfiguration
            class="org.eclipse.papyrusrt.umlrt.tooling.tables.configurations.TriggerNameCellEditorConfiguration"
            order="300">
      </cellAxisConfiguration>
      <cellAxisConfiguration
            class="org.eclipse.papyrusrt.umlrt.tooling.tables.configurations.TriggerGuardCellEditorConfiguration"
            order="300">
      </cellAxisConfiguration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.nattable.cellmanager">
      <cellManager
            id="org.eclipse.papyrusrt.umlrt.tooling.tables.trigger.guard.cell.manager"
            manager="org.eclipse.papyrusrt.umlrt.tooling.tables.manager.cell.TriggerGuardCellManager"
            order="400">
      </cellManager>
      <cellManager
            id="org.eclipse.papyrusrt.umlrt.tooling.tables.trigger.port.cell.manager"
            manager="org.eclipse.papyrusrt.umlrt.tooling.tables.manager.cell.TriggerPortCellManager"
            order="400">
      </cellManager>
                  <cellManager
            id="org.eclipse.papyrusrt.umlrt.tooling.tables.trigger.message.cell.manager"
            manager="org.eclipse.papyrusrt.umlrt.tooling.tables.manager.cell.TriggerProtocolMessageCellManager"
            order="400">
      </cellManager>
      <cellManager
            id="org.eclipse.papyrusrt.umlrt.tooling.tables.namedElement.name.cell.manager"
            manager="org.eclipse.papyrusrt.umlrt.tooling.tables.manager.cell.NamedElementNameCellManager"
            order="400">
      </cellManager>
   </extension>
</plugin>
                                                                      