<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated common -->
      <package
            uri="http://www.eclipse.org/papyrusrt/xtumlrt/statemach"
            class="org.eclipse.papyrusrt.xtumlrt.statemach.StatemachPackage"
            genModel="model/statemach.genmodel"/>
   </extension>

</plugin>
