<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.papyrus.infra.sync.triggers">
      <syncTrigger
            class="org.eclipse.papyrusrt.umlrt.core.sync.UMLRTSyncTrigger">
         <enablement>
            <and>
               <!-- Match a package that has the UML-RT profile applied -->
               <instanceof
                     value="org.eclipse.uml2.uml.Package"/>
               <test
                     property="org.eclipse.papyrus.uml.profile"
                     value="UMLRealTime">
               </test>
            </and>
         </enablement>
      </syncTrigger>
      <syncTrigger
            class="org.eclipse.papyrusrt.umlrt.core.sync.capsule.CapsuleSyncTrigger">
         <enablement>
            <and>
               <!-- Match a Class that has the Capsule stereotype applied -->
               <instanceof
                     value="org.eclipse.uml2.uml.Class"/>
               <test
                     property="org.eclipse.papyrus.uml.stereotype"
                     value="UMLRealTime::Capsule">
               </test>
            </and>
         </enablement>
      </syncTrigger>
   </extension>
</plugin>
