<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 Copyright (c) 2015, 2017 CEA LIST, Christian W. Damus, and others.
 
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
   CEA LIST - Initial API and implementation
   Christian W. Damus - bugs 483637, 486367, 496464, 517467
-->
<plugin>
	<!-- deprecated extension point, still here to ensure migration to new AF --> 
   
   <extension
         point="org.eclipse.papyrus.infra.architecture.models">
      <model
            path="architecture/umlrt-common.architecture">
      </model>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.pasteStrategy">
      <strategy
            strategy="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.copy.UmlRTPasteStrategy">
      </strategy>
   </extension>
    <extension
          point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
       <labelProvider
             priority="5"
             provider="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.service.UMLRTNotationFilteredLabelProvider">
       </labelProvider>
       <labelProvider
             priority="5"
             provider="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.provider.UMLRTDiagramFilteredLabelProvider">
       </labelProvider>
    </extension>
    <extension
          point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
       <modeldeclaration
             file="facet/UMLRTDiagrams.custom">
       </modeldeclaration>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
       <strategy
             strategy="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.drop.CapsuleToCapsulePartDropStrategy">
       </strategy>
       <strategy
             strategy="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.drop.ProtocolToExternalBehaviorPortDropStrategy">
       </strategy>
       <strategy
             strategy="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.drop.ProtocolToInternalBehaviorPortDropStrategy">
       </strategy>
       <strategy
             strategy="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.drop.ProtocolToPortOnPartDropStrategy">
       </strategy>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
       <editpartProvider
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.providers.RTEditPartProvider">
          <Priority
                name="Medium">
          </Priority>
       </editpartProvider>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.common.copyStrategy">
       <strategy
             strategy="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.copy.UmlRTCopyStrategy">
       </strategy>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
       <decoratorProvider
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.provider.CapsulePartDecoratorProvider">
          <Priority
                name="Medium">
          </Priority>
       </decoratorProvider>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
       <decoratorProvider
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.provider.RedefinitionDecoratorProvider">
          <Priority
                name="Medium">
          </Priority>
       </decoratorProvider>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
       <editpolicyProvider
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.editpolicies.PapyrusRTCanonicalEditPolicyProvider">
          <Priority
                name="Medium">
          </Priority>
          <object
                id="inheritableEditPart"
                class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.IInheritableEditPart">
          </object>
          <object
                id="inheritableShapeCompartment"
                class="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeCompartmentEditPart">
             <method
                   name="getParent()">
                <value
                      class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.IInheritableEditPart"/>
             </method>
          </object>
          <context
                editparts="inheritableEditPart,inheritableShapeCompartment">
          </context>
       </editpolicyProvider>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.canonical.strategies">
       <semanticChildrenStrategy
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.canonical.RTPartSemanticChildrenStrategy"
             editPart="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.RTPropertyPartEditPart"
             priority="10">
       </semanticChildrenStrategy>
       <semanticChildrenStrategy
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.canonical.RTClassSemanticChildrenStrategy"
             priority="10">
          <enablement>
             <with
                   variable="editPart">
                <or>
                   <instanceof
                         value="org.eclipse.papyrus.uml.diagram.composite.edit.parts.ClassCompositeCompartmentEditPart">
                   </instanceof>
                   <instanceof
                         value="org.eclipse.papyrus.uml.diagram.composite.edit.parts.ClassCompositeEditPart">
                   </instanceof>
                </or>
             </with>
             <with
                   variable="element">
                <test
                      property="org.eclipse.papyrus.uml.stereotype"
                      value="UMLRealTime::Capsule">
                </test>
             </with>
          </enablement>
       </semanticChildrenStrategy>
       <visualChildrenStrategy
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.canonical.RTInheritableVisualChildrenStrategy"
             priority="100">
          <enablement>
             <with
                   variable="editPart">
                <or>
                   <instanceof
                         value="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.RTPortEditPart">
                   </instanceof>
                   <instanceof
                         value="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.RTPropertyPartEditPart">
                   </instanceof>
                </or>
             </with>
          </enablement>
       </visualChildrenStrategy>
       <semanticChildrenStrategy
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.canonical.RTPortSemanticChildrenStrategy"
             priority="10">
          <enablement>
             <with
                   variable="editPart">
                <or>
                   <instanceof
                         value="org.eclipse.papyrus.uml.diagram.composite.edit.parts.PortEditPart">
                   </instanceof>
                </or>
             </with>
             <with
                   variable="element">
                <test
                      property="org.eclipse.papyrus.uml.stereotype"
                      value="UMLRealTime::RTPort">
                </test>
             </with>
          </enablement>
       </semanticChildrenStrategy>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
       <editpolicyProvider
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.drop.RTCapsuleStructureCompartmentDragDropEditPolicyProvider">
          <Priority
                name="High">
          </Priority>
       </editpolicyProvider>
       <editpolicyProvider
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.editpolicies.RTExternalReferenceEditPolicyProvider">
          <Priority
                name="High">
          </Priority>
          <object id="RTPort" class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.RTPortEditPart"/>
          <object id="CapsulePart" class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.RTPropertyPartEditPart"/>
          <context
                editparts="RTPort,CapsulePart"/>
       </editpolicyProvider>
       <editpolicyProvider
             class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.editpolicies.stereotype.RTAppliedStereotypeEditPolicyProvider">
          <Priority
                name="High">
          </Priority>
       </editpolicyProvider>
    </extension>
        <extension
         point="org.eclipse.papyrus.infra.hyperlink.hyperlinkContributor">
      <contributor
            contributor="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.hyperlink.CapsuleStructureDiagramHyperlinkContributor"
            description="Hyperlink contribution for CapsuleParts, to navigate to the Capsule Structure diagram of their typing Capsule"
            id="org.eclipse.papyrusrt.umlrt.tooling.ui.hyperlink.capsulepart.capsulestructurediagram"
            label="Capsule structure diagram hyperlink">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.layout.PortOnCapsuleFrameLayoutProvider">
         <Priority
               name="Medium">
         </Priority>
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.layout.InternalPortOnCapsuleLayoutProvider">
         <Priority
               name="Medium">
         </Priority>
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.layout.PortOnCapsulePartLayoutProvider">
         <Priority
               name="Medium">
         </Priority>
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.layoutProviders">
      <layoutProvider
            class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.layout.InheritanceAwareLayoutProvider">
         <Priority
               name="High">
         </Priority>
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider
            class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.provider.UMLRTIconProvider">
         <Priority
               name="Medium">
         </Priority>
      </IconProvider>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.expressions.EditPartPropertyTester"
            id="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editPartProperties"
            namespace="org.eclipse.papyrusrt.umlrt.tooling.diagram"
            properties="isInherited"
            type="org.eclipse.gef.EditPart">
      </propertyTester>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.commands"
            name="UML-RT Diagram Editing Commands"
            description="Commands for editing of UML-RT diagrams in Papyrus-RT models.">
      </category>
      <command
            id="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.toggleInheritView"
            name="Follow Superclass View"
            description="Toggles whether the view follows position, routing, and other layout characteristics of the corresponding view in the superclass diagram."
            categoryId="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.commands">
         <state
               id="org.eclipse.ui.commands.toggleState"
               class="org.eclipse.jface.commands.ToggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.toggleInheritView"
            class="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.handlers.ToggleInheritViewHandler">
         <enabledWhen>
            <iterate operator="or" ifEmpty="false">
               <!-- The edit-part supports inheritance and the view is inherited or redefined. -->
               <and>
                  <instanceof
                        value="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.editparts.IInheritableEditPart">
                  </instanceof>
                  <test property="org.eclipse.papyrusrt.umlrt.tooling.diagram.isInherited"/>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.uml.diagram.ui.popupmenu.format?after=org.eclipse.papyrus.uml.diagram.menu.commands.CopyAppearancePropertiesCommand">
         <command
               commandId="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.toggleInheritView"
               icon="icons/full/etool16/reinherit.png"
               disabledIcon="icons/full/dtool16/reinherit_d.png"
               style="toggle">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipes.papyrus.menu.toolbar?after=org.eclipse.papyrus.uml.diagram.menu.commands.CopyAppearancePropertiesCommand">
         <command
               commandId="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.toggleInheritView"
               icon="icons/full/etool16/reinherit.png"
               disabledIcon="icons/full/dtool16/reinherit_d.png"
               style="toggle"
               tooltip="Follow position, routing, etc. of the superclass view">
            <visibleWhen>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.css.domElementAdapter">
      <!-- Teach the CSS engine how to resolve notation references to inherited elements. -->
      <factory
            factory="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.css.GMFUMLRTElementProviderFactory"
            order="9">
      </factory>
   </extension>
   
   <extension
	      point="org.eclipse.papyrus.infra.gmfdiag.common.diagramReconciler">
	   <diagramReconciler
	         diagramType="CompositeStructure"
	         reconcilerClass="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.migration.UMLRTDiagramReconciler130"
	         source="1.2.0"
	         target="1.3.0">
	   </diagramReconciler>
	   <diagramReconciler
	         diagramType="PapyrusUMLStateMachineDiagram"
	         reconcilerClass="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.migration.UMLRTDiagramReconciler130"
	         source="1.2.0"
	         target="1.3.0">
	   </diagramReconciler>
	</extension>
	
 <extension
       point="org.eclipse.papyrus.infra.core.model">
    <modelSetSnippet
          classname="org.eclipse.papyrusrt.umlrt.tooling.diagram.common.internal.migration.DiagramMigrationSnippet"
          description="Migrates all Papyrus RT diagrams on model load">
    </modelSetSnippet>
 </extension>
</plugin>
