<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrusrt.codegen.cpp.generator">
      <generator
            class="org.eclipse.papyrusrt.codegen.cpp.statemachines.flat.generator.StateMachineGenerator$Factory"
            priority="Low"
            type="StateMachineGenerator">
      </generator>
   </extension>

</plugin>
